.container {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  text-wrap: pretty;
  background-color: #fff;
  margin-top: 2rem;
}

h1 {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

h2 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 1.8rem 0rem;
}

ol, ul, menu, summary {
  line-height: 2rem;
}

a {
  color: rgb(43, 108, 176);
}
