.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.navbar > ul {
  display: flex;
  align-items: center;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo > span {
  font-size: 1.5rem;
}
