.navbar {
  position: relative;
  background-color: black;
  padding: 0.5rem 0 1rem 0;
  color: #fff;
}

.navbar > ul {
  display: flex;
  align-items: center;
  height: 60px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo > span {
  font-size: 1.5rem;
}

.links {
  margin-left: auto;
}

.links a {
  display: inline-block;
  font-weight: 700;
}

.links a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #000;
  transition: width .3s;
}

.links > a:hover {
  text-decoration: none;
}

.links > a:hover::after {
  text-decoration: none;
  width: 100%;
}
