.main {
  max-width: 900px;
  padding: 8px;
  margin: 20px auto;
}

.main > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-wrap: balance;
}

.container > img {
  width: 50%;
  margin: 0 auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .container > img {
    width: 250px;
  }
}

.back {
  margin-left: 2.2rem;
  background-color: #333300;
  color: #fafafa;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}