.map {
  fill: #a0a0a020;
  stroke-width: 1;
  stroke: #aaa;
  width: 100%;
  max-width: 95vw;
  aspect-ratio: 1/1;
}

.headline {
  font-size: 2rem;
  font-weight: 600;
  margin: 16px 0;
}

.root {
  padding: 16px 8px;
  max-width: 900px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.piechartContainer {
  max-width: 90vw;
}

@media screen and (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
  }

  .mapContainer {
    grid-row: 1 / 3;
    grid-column: 3 / 6;
  }

  .piechartContainer {
    grid-column: 1 / 3;
  }
}

.grid > * {
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.table {
  height: 500px;
  width: 900px;
  max-width: 95vw;
  margin: 32px auto;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  grid-column: 1 / -1;
}

.back {
  margin-left: 2.2rem;
  background-color: #333300;
  color: #fafafa;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}