.content {
  margin-top: 60px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 40vh;
}

.hero > h1 {
  font-size: 3rem;
  font-weight: 600;
  background: linear-gradient(to bottom right, #17a34a, #079669);
  background-clip: text;
  color: transparent;
}

.hero > h1 > span {
  color: black;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #6b6b6b;
  max-width: 600px;
  text-align: center;
  text-wrap: pretty;
}

.search {
  margin: 0 auto;
  padding: 16px;
  font-size: large;
  display: block;
  min-width: clamp(300px, 50%, 600px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: 1px solid #e0e0e0;
}

.search::placeholder {
  color: #6b6b6b;
}

.table {
  height: 500px;
  width: 900px;
  max-width: 100%;
  margin: 32px auto;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
